{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock links %}

{% block title %}<title>Login</title>{% endblock title %}

{% block body %}
<div class="parent">
    <div class="block" style="margin-top: 30px; border-radius: 20px;">
        <br>
        <h2 class='title'>Login</h2>
        <form method="POST" style="width: 300px; margin-left: 350px;">
            {% csrf_token %}
            {{ form.as_p }}
            <center><button type="submit" id='btn' class="btn btn-primary" style=" margin-top: 20px;">Log In</button></center>
          </form>
        <br>
        <hr>
        <center><p class="create-account">
                You don't have an account?  - <a href="{% url 'signup' %}">create!</a>
        </p></center>
    </div>
</div>
{% endblock body %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script src="{% static 'js/bubbly-bg.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock js %}